[submodule ".vim/bundle/vim-git-branch-info"]
	path = .vim/bundle/vim-git-branch-info
	url = https://github.com/taq/vim-git-branch-info
[submodule ".vim/bundle/MatchTagAlways"]
	path = .vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways
[submodule ".vim/bundle/vim-gitbranch"]
	path = .vim/bundle/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-notes"]
	path = .vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug
[submodule ".vim/bundle/seoul256.vim"]
	path = .vim/bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule ".vim/bundle/Dart"]
	path = .vim/bundle/Dart
	url = https://github.com/vim-scripts/Dart
