[submodule ".vim/bundle/vim-git-branch-info"]
	path = .vim/bundle/vim-git-branch-info
	url = https://github.com/taq/vim-git-branch-info
[submodule ".vim/bundle/MatchTagAlways"]
	path = .vim/bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways
[submodule ".vim/bundle/vim-gitbranch"]
	path = .vim/bundle/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-notes"]
	path = .vim/bundle/vim-notes
	url = https://github.com/xolox/vim-notes
[submodule ".vim/bundle/vim-misc"]
	path = .vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule ".vim/bundle/vim-pug"]
	path = .vim/bundle/vim-pug
	url = https://github.com/digitaltoad/vim-pug
[submodule ".vim/bundle/seoul256.vim"]
	path = .vim/bundle/seoul256.vim
	url = https://github.com/junegunn/seoul256.vim
[submodule ".vim/bundle/Dart"]
	path = .vim/bundle/Dart
	url = https://github.com/vim-scripts/Dart
[submodule ".vim/bundle/bundle/ctrlp.vim"]
	path = .vim/bundle/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/vim-sleuth"]
	path = .vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/bundle/vim-jsx-typescript"]
	path = .vim/bundle/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule ".vim/pack/vim-javascript"]
	path = .vim/pack/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/vim-color-spring-night"]
	path = .vim/pack/vim-color-spring-night
	url = https://github.com/rhysd/vim-color-spring-night
[submodule ".vim/bundle/vim-color-spring-night"]
	path = .vim/bundle/vim-color-spring-night
	url = https://github.com/rhysd/vim-color-spring-night
[submodule ".vim/pack/ale"]
	path = .vim/pack/ale
	url = https://github.com/dense-analysis/ale
